
* {
    font-family: 'Cairo', sans-serif!important;
    font-weight: 400;
}
body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: right;
    background: #f4f6f9!important;
}

/*nav*/


/*footer*/
.footer {
    background: #3591a6;
    min-height: 262px;
    padding-top: 30px;
    padding-bottom: 40px;
}
.footer .column .title {
    color: #fff;
    font-size: 18px;
    margin-bottom: 16px;
}
.footer .column ul {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 14px;
}
.footer .column ul li {
    margin-top: 8px;
    cursor: pointer;
}
/*==========================================*/
/*SEARCH PAGE */
/*==========================================*/


/*header*/
.therapist-header {
    background-color: #3da8c0;
    padding: 2%;
}
.steps {

}
.steps .step-title{
    color: white;
    text-align: center;
    font-size: 24px;
    margin-bottom: 30px
}
.steps .step.active{
    color: #3da8c0;
    background: #fff;
}
.steps .step{
    border: 1.5px solid #fff;
    border-radius: 15px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    padding: 2px 10px;
}
.steps .line {
    padding: 0;
}
.steps .line:before {
    height: 1px;
    content: "";
    background: #fff;
    display: flex;
    align-items: center;
    margin-top: 14px;
}

/*search bar*/

.search-bar {
    min-height: 90px;
    display: flex;
    align-items: center;
    font-size: 16px;
}

.search-icon .form-control {
    border-right: 0!important;
}
.form-control {
    font-size: 16px!important;
    height: 100%!important;
}
.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #ced4da;
    outline: 0;
    box-shadow: none!important;
}
.search-icon .form-select {
    border-right: 0!important;
    font-size: 16px!important;
    height: 100%!important;
}
.search-icon .form-select:focus {
    color: #212529;
    background-color: #fff;
    border-color: #ced4da;
    outline: 0;
    box-shadow: none;
}
.search-icon .input-group-text {
    border-left: 0!important;
    background-color: white;
}

/*filter bar*/



/*cards*/
.pointer:hover {
    cursor: pointer;
}
.recommendation-card {
    min-height: 365px;
    border: 1px solid #ccc!important;
    background-color: #3da8c0;
    height: 100%!important;

}
.recommendation-content {
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 16px;
    margin-top: 16px;
}
.recommendation-content div{
    font-size: 16px;
    font-weight: bold;
}
.recommendation-card .recommended-image{
    transform: scaleX(-1);
}
.recommendation-btn {
    padding: 8px 30px 8px 32px;
    border-radius: 22px;
    background-color: #f4794c;
    font-size: 14px!important;
    color: white;
    text-align: center;
}
/*Therapist card*/

.doctor-card {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
    text-align: center;
}
.doctor-card .therapist-details{
    padding: 16px 10px 16px 10px;
}
.doctor-card .name {
    white-space: nowrap;
    max-width: 95%;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #3da8c0;
    font-size: 16px;
}
.doctor-card .title {
    font-size: 12px;
    color: #666669;
    min-height: 36px;
    margin-top: 8px;
}
.doctor-card .rate {

    margin-top: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.yellow_stars .fa {
    color: yellow;
}
.doctor-card .rate-value{
    margin-left: 5px;
    font-size: 12px;
}
.doctor-card .rate-count{
    color: #4d4d4f;
    font-size: 12px;

}
.doctor-card .rating-container {
    position: relative;
}
.doctor-card .profile-pic-container {
    position: relative;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
}
.doctor-card .profile-pic-container .pic {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.doctor-card .speciality {
    color: #4d4d4f;
    font-size: 12px;
    min-height: 36px;
    margin-top: 8px;
}
.doctor-card .session-details {
    margin-top: 15px;
}
.doctor-card .sessions {
    color: #666669;
    font-size: 12px;
    margin-right: 30px;
}
.doctor-card .fees {
    color: #4d4d4f;
    font-size: 14px;
}
.doctor-card .buttons {
    display: flex;
    justify-content: space-between;
}
.doctor-card .buttons div.book {
    background: #3da8c0;
    color: #fff;
}
.doctor-card .buttons div.view-profile {
    background: #ccc;
    color: #4d4d4f;
    font-size: 12px!important;
}
.doctor-card .buttons .book {
    background: #3da8c0;
    color: #fff;
    font-size: 13px!important;

}
.doctor-card .buttons div.view-profile {
    background: #ccc;
    color: #4d4d4f;
}
.doctor-card .buttons div {
    width: 50%;
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: pointer;
}

/*Side bar search*/

.filters-container {
    min-height: 100vh;
    box-shadow: 0 0 2px rgba(0,0,0,.16);
    background-color: white;
}
.filters-container .filters-header{
    padding: 8px 16px 8px 16px;
    background: #3da8c0;
    color: #fff;
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}
.filters-container .filters-body{
    padding: 20px 16px 100px 16px;
}

.filters-container .filters-body .filters-title{
    font-size:14px;color: #3da8c0;
}

.filters-container .filters-body .date-check{
    margin-top: 16px;
    align-items: center;
}
.filters-container .filters-body input[type=checkbox]{
    box-sizing: border-box;
    padding: 0;
    bottom: 0;
    border: 2px #8a8a8a solid;
    overflow: hidden;
    border-radius: 1px;
}
.filters-container .filters-body input[type=checkbox]:focus{
    outline: none!important;
    box-shadow: none!important;
}
.filters-container .filters-body label{
    line-height: 24px;
    color: #4d4d4f;
    font-size: 14px;

}
.filters-container .filters-body .filter-date{
     margin-top: 16px;
 }
.filters-container .filters-body .filter-name{
    color: #4d4d4f;
    font-size: 14px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.filters-container .filters-body .filter-duration{
    margin-top: 16px;
}

.filters-container .filters-body .filter-gender{
    margin-top: 35px;
}
.filters-container .filters-body .filter-rate{
    margin-top: 35px;
}
.filters-body .filter-rate .rating:not(:checked)>input {
    position: absolute;
    top: -9999px;
    clip: rect(0,0,0,0);
}
.filters-body .filter-rate .rating:not(:checked)>label {
    float: left;
}
.filters-body .filter-rate fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}
.filters-body .filter-rate .rating:not(:checked)>label {
    float: right;
    width: 1em;
    padding: .1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 165%;
    line-height: 1.2;
    color: #ddd;
    margin-bottom: 0;
}
.filters-body .filter-rate .rating:not(:checked)>label:hover {
    color: #ea0!important;
}
.filters-body .filter-rate .rating:not(:checked)>label:before {
     content: "★ ";
 }
.filters-container .filters-body .filter-region{
    margin-top: 35px;
}
.filters-container .filters-body .filter-price{
    margin-top: 35px;
}

.filters-container .filters-body .fees-filter{
    margin-top: 12px!important;
    font-size: 12px!important;

}
.filters-container .filters-body .price-button{
    padding: 4px;
    margin-left: 12px;
    margin-top: 8px;
    border-radius: 2px;
    background: #ccc;
    color: #4d4d4f;
    display: inline-block;
}
.filters-container .filters-body .price-button:hover{
    background-color: #bfbfbf;
}

/*profile review*/

.black-bg {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    position: fixed;
    top: 0;
}

.profile-review-container {
    right: auto;
    left: -100%;
    position: fixed;
    background: #fff;
    overflow-y: scroll;
    overflow-x: hidden;
    top: 0;
    height: calc(var(--vh, 1vh) * 100);
    width: 100%;
    max-width: 548px;
    border-color: #ccc;
    border-style: solid;
    border-width: 0 1px;
    z-index: 1051;
    text-align: center;
}

.profile-review-container .doctor-pic {
    max-width: 100%;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-top: 32px;
}
.profile-review-container .profile-details .doctor-name {
    margin-top: 32px;
    color: #3da8c0;
    font-size: 16px;
}
.profile-review-container .profile-details .doctor-title {
    margin-top: 8px;
    color: #666669;
    font-size: 12px;
}
.profile-review-container .profile-details .doctor-speciality {
    margin-top: 8px;
    color: #666669;
    font-size: 12px;
}
.profile-review-container .profile-details .session-details {
    margin-bottom: 16px;
    margin-top: 16px;
    color: #666669;
    font-size: 13px;
}
.close_btn {
    display: none!important;
    position: absolute;
    right: 25px;
    top: 10px;
}

.profile-review-container .date-type {
    padding-bottom: 8px!important;
    padding-top: 8px!important;
    color: #3da8c0;
    background-color: #fff;
    font-size: 16px!important;
    text-align: center!important;
    border: 1px solid #3da8c0;
}
.profile-review-container .reserve-now {
    background: #3da8c0;
    margin-top: 16px!important;
    opacity: .65;
    padding-bottom: 8px!important;
    padding-top: 8px!important;
    margin-bottom: 20px!important;
    border-radius: 22px;
    color: #fff;
    width: 50%;
    border: 0;
}
.profile-review-container .date-type.active {
    color: #fff!important;
    background-color: #3da8c0!important;
}

.appointments-block {
    border: 1px solid #ccc;
    border-radius: 2px;
    background: #f5f5f5;

}

.appointments {
    margin-top: 16px!important;
}

.appointments-item {
    padding-top: 16px;
    border: 1px solid #ccc;
    border-radius: 15px;
    background-color: #fff;
    color: #4d4d4f;
    text-align: center!important;
    margin-right: 12px;

}
.appointments-item .item-title{
    min-height: 50px;
    padding: 5px!important;
    color: #363636;
    font-size: 14px!important;

}
.appointments-item .item-title span{
    color: #939598;
}

.appointments-item .item-details{
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 5px;
    margin-top: 5px;
    align-items: center;

}

.appointments-item .item-details .appointment-item-duration{
    color: #3da8c0;
    font-size: 10px;
}

.appointments-item .item-details .appointment-item-from{
    font-size: 12px;
}
.appointments-item .item-details .appointment-item-to{
    font-size: 12px;
}
